@charset "utf-8";
/* CSS Document */

body{
	background-color:#CEFFE7;
	padding:0;
	margin: 0;
}

#storbox{
	background-color:#000;
	width: 1000px;
	height: 800px;
	margin:auto;
	

}

header{
	background-color:#3C7113 ;
	width:1000px;
	height:200px;
	text-align: center;
}

nav{
	background-color:#87BC5E;
	width:1000px;
	height:150px;
	float:left;
	margin:auto;
}

article{
	background-color:#B8E297;
	width:750px;
	height:770px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right:50px;
	box-sizing:border-box;
	float:left;
}

aside{
	background-color:#5E9732;
	width:250px;
	height:770px;
	float:left;
	padding: 10px;
	box-sizing:border-box;

}

footer{
	background-color:#214B00;
	width:1000px;
	height:50px;
	color:#FFF;
	text-align:center;
	float:right;
	font-family:Verdana, Geneva, sans-serif;
	
	}
.huvud{
	float: left;
	margin-left:100px;	
	
}

.alias{
	float:right;
	padding: 30px;
	margin-top:10px;
}

.logo{
	padding-top: 20px;
}


}

h1{
	font-family:Arial, Helvetica, sans-serif;
}
